<h1> Add Products </h1>

<p> <%= render 'form' %> </p>
<!--
<p>
  <div class="form">
    <%#= form_for @product do |f| %>
      <%#= f.label :name %>
      <%#= f.text_field :name %>
  <br>
      <%#= f.label :description %>
      <%#= f.text_field  :description %>
  <br>
      <%#= f.label :price_in_cents %>
      <%#= f.text_field :price_in_cents %>
  <br>
    <div class="submit">
      <%#= f.submit %>
    </div>
  </div>
    <%# end %>
</p> -->

<div class="link"> <%= link_to 'Homepage', products_url %> </div>
